.movie-detail-streaming-list-container {
  display: none;
}
.movie-detail-streaming-list {
  cursor: pointer;
  margin: 0px 4px;
}
.movie-detail-streaming-list:first-child {
  margin-left: 0;
}
.movie-detail-streaming-list:last-child {
  margin-right: 0;
}
.movie-detail-streaming-image {
  height: 70px;
  width: 100px;
  border-radius: 4px;
}

@media screen and (min-width: 640px) {
  .movie-detail-streaming-image {
    height: 75px;
    width: 110px;
  }
}

@media screen and (min-width: 768px) {
  .movie-detail-streaming-list {
    cursor: pointer;
    margin: 0px 6px;
  }
  .movie-detail-streaming-image {
    height: 80px;
    width: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .streaming-slider-container {
    display: none;
  }
  .movie-detail-streaming-list-container {
    display: flex;
    padding: 0px 10px;
  }
  .movie-detail-streaming-list {
    margin: 0px 10px;
  }
  .movie-detail-streaming-list:first-child {
    margin-left: 0;
  }
  .movie-detail-streaming-list:last-child {
    margin-right: 0;
  }
  .movie-detail-streaming-image {
    height: 100px;
    width: 140px;
    border-radius: 5px;
  }
}
